body {
 background-color: #E9ECE6;}

.title {
 font-family: tahoma;
 color: #black; 
 test-align: center;
 padding: 10px;
 background-color: #FCF8E8;
 font-size: 20px;
 text-align: center;
 padding: inharit;}

.author {
 font-family: tahoma;
 color: #black; 
 test-align: center;
 padding: 10px;
 background-color: #FCF8E8;
 font-size: 15px;
 text-align: center;
 padding: inharit;}

.date {
 font-family: tahoma;
 color: #black; 
 test-align: center;
 padding: 10px;
 background-color: #FCF8E8;
 font-size: 10px;
 text-align: center;
 padding: inharit;}

.text {
 font-family: tahoma;
 color: #black; 
 test-align: center;
 padding: 10px;
 background-color: #AAB8B6;
 font-size: 15px;
 text-align: center;
 padding: inharit;}
