body {
  background-color: #BE6D48;
  padding: 20px;
  border-style:solid;
  border-color: #61101B;
  border-width: 10px
  

.title {
  font-family: "Garamond";
  font-size: 30px;
  
}

.author {
  font-family: "georgia";
  font-size: 22px;
  
}

.date {
  font-family: "georgia";
  font-size: 18px;
  
}
